@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mag: #f7f0f5;
  --dun: #decbb7;
  --grey: #8f857d;
  --brown: #5c5552;
  --raisin: #2f2523;
  --night: #161412;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--mag);
  background-color: var(--night);
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--grey);
}
